services:
  app:
    build:
      args:
        user: danilo
        uid: 1000
      dockerfile: .docker/Dockerfile
    container_name: curotec_api
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
    networks:
      - app-network

  webserver:
    image: nginx:stable-alpine
    container_name: curotec_webserver
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./.docker/nginx/conf.d:/etc/nginx/conf.d
      - ./storage/logs/nginx:/var/log/nginx
    depends_on:
      - app
    networks:
      - app-network

  db:
    image: postgres:15
    container_name: curotec_database
    restart: unless-stopped
    environment:
      POSTGRES_USER: curotec
      POSTGRES_PASSWORD: verystrongpassword
      POSTGRES_DB: curotec_assignment
    ports:
      - "5432:5432"
    volumes:
      - .docker/dbdata:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  dbdata:

networks:
  app-network:
    driver: bridge
    external: true
